.rvt-badge {
    color: #fff;
}

nav[aria-label="Pagination"] {
    text-align: center;
}

nav[aria-label="Pagination"] .rvt-pagination {
    justify-content: center;
}

/* Display the course summary pieces in fixed and flexible columns */
#course-list .rvt-accordion__toggle-text {
    display: grid;
    grid-template-columns: 50px 140px 1fr;
    align-items: baseline;
}
